@font-face {
    font-family: 'LemonMilk';
    src: url(fontes/LEMONMILK-RegularItalic.otf) format('opentype');
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.compra{
    background-color: #b37411;
    padding: 8px ;
    background-color: #b37411; 
  padding: 5px 10px;
  display: inline-block;
  border-radius: 2px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #050609;
}
h1{
    font-family: 'LemonMilk', sans-serif;
    
}
body{
    text-decoration: none;
    color: #FFF8F0;
}
header{
    background-color: #050609;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #000;
    color: white;
    margin-left: 0px;
}

.logo .dot {
    color: #ff5722;
  }
  
  .logo .orange {
    color: #ff5722;
  }
  
  .search-box {
    flex: 1;
    margin-top: 0px;
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    width: 85%;
    padding: 12px 16px;
    border-radius: 6px 0 0 6px;
    border: none;
    font-size: 16px;
    outline: none;
  }
  
  .search-box button {
    background: white;
    border: none;
    padding: 9px;
    border-radius:  px 6px 0;
    cursor: pointer;
  }
  
  .conta {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: right;
    font-size: 14px;
    margin-right: 70px;
}
  
  .conta a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .cart img {
    width: 24px;
    cursor: pointer;
    transition: 1.2s;
  }

  .cart img:hover{
    scale: 155%;
  }


nav{
    background-color: #b37411;
    text-align: center;
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1.2s;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover{
    color: #303136;
    scale: 125%;
}
.container-fluid{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

main{
    background-color:#FFF8F0;
    color: #050609;
}


section{
    background-color: #FFF8F0;
    margin-left: 2rem;
    margin-top: 1rem;
}

#Sect{
    width: 100%;
    padding: 10px 3%;
    margin: 0;
}

#Sect02{
  width: 100%;
  margin: 0;
  padding: 10px 3%;
}

.marca{
    display: flex;
    text-align: center;
    justify-content: center;
}
.custom-search {
    max-width: 400px; /* Reduz o tamanho */
    margin: auto; /* Centraliza */
}

.custom-search .form-control {
    border-radius: 15px; /* Aumenta o border-radius */
    height: 40px; /* Ajusta a altura */
}

.custom-search .btn {
    border-radius: 15px; /* Aumenta o border-radius do botão */
    height: 40px; /* Ajusta a altura do botão */
    background-color: #CD8913; /* Define a cor do botão */
    color: white; /* Define a cor do texto */
    border: none; /* Remove a borda */
}

.custom-search .btn:hover {
    background-color: #b37411; /* Cor de hover */
}

.jonimg{
        margin-bottom: 2rem;
        margin-left: 15rem;  
        margin-top: 3rem;     
        width: 400px; /* Largura do botão */
        height: 150px; /* Altura do botão */
        background-image: url('imagens/Johnnie-Walker-Logo-1996-2015-removebg-preview.png'); /* Caminho da sua imagem */
        background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
        background-position: center; /* Centraliza a imagem */
        border: none; /* Remove a borda */
        color: white; /* Cor do texto */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Mostra o cursor de clique */
        transition: 1.2s;
        border-radius: 15px; /* Borda arredondada */
        box-shadow: 10px 10px 20px #CD8913;
        
}


.jonimg:hover{
    scale: 125%;
    box-shadow: 10px 10px 20px #CD8913;
}


.jackimg{
        margin-bottom: 2rem;
        margin-left: 25rem; /* Adiciona margem à esquerda */
        margin-top: 3rem;     
        width: 200px; /* Largura do botão */
        height: 195px; /* Altura do botão */
        background-image: url('imagens/R-removebg-preview.png'); /* Caminho da sua imagem */
        background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
        background-position: center; /* Centraliza a imagem */
        border: none; /* Remove a borda */
        color: white; /* Cor do texto */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Mostra o cursor de clique */
        transition: 1.2s;
        border-radius: 13px; /* Borda arredondada */
        box-shadow: 10px 10px 20px #CD8913;
}

.jackimg:hover{
    scale: 125%;
    box-shadow: 10px 10px 20px #CD8913;
}

.suas-misturas{
    background-color: #b37411;
    padding: 8px ;
    background-color: #b37411; 
  padding: 5px 10px;
  display: inline-block;
  border-radius: 2px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
}


.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  
  --size-of-icon: 1.4em;
  
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.product-section {
    text-align: center;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    
  }
  
  .product-card {
    border: 1px solid #CD8913;
    background-color: #FFF8F0;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px #CD8913;

    transition: .5s ease-in-out;
  }


  .product-card:hover {
    transform: scale(1.02);
    box-shadow: 7px 7px 20px #CD8913;
    background-color: #f9f9f9;
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 48px;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card .price {
    font-weight: bold;
    color: #ff8c00;
    cursor: pointer;
    transition: 1s;
  }

  .product-card .price:hover {
    scale: 115%;
    color: #ff8c00;
  }

  

  .product-card button {
    background-color: #CD8913 ;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 14px;
    cursor: pointer;
    transition: 1s;
  }
  
  .product-card button:hover {
    background-color: #050609 ;
  }
.price{
    font-size: 1.4rem;
    color: #ff8c00;
    font-family: 'Poppins', sans-serif ;

}

.produtos{
    margin-left: -1rem;
    padding: 15px 4%;
}

@media screen and (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .jonimg{
      width: 300px; /* Largura do botão */
      height: 100px; /* Altura do botão */
      position: relative;
      top: 11rem;
      left: 3rem;
        
    }

    .jackimg{
      margin-left: auto;
    }

    .conta{
      position: relative;
      left: 1rem;
    }

    .conta:hover{
      scale: 105%;
    }

    .cart:hover{
      scale: 105%;
    }
  
}