body {
  margin: 0;
  
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #000;
  color: white;
  margin-left: 0px;
}


.logo .dot {
  color: #ff5722;
}

.logo .orange {
  color: #ff5722;
}

.search-box {
  flex: 1;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 85%;
  padding: 12px 16px;
  border-radius: 6px 0 0 6px;
  border: none;
  font-size: 16px;
  outline: none;
}

.search-box button {
  background: white;
  border: none;
  padding: 4px;
  border-radius: 0 px 6px 0;
  cursor: pointer;
}

.conta {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  font-size: 14px;
  margin-right: 70px;
}

.conta a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.cart img {
  width: 24px;
  cursor: pointer;
}

av{
  border: solid 1px white;
  background-color: #b37411;
  text-align: center;
  
  
}

nav{
  border: solid 1px #b37411;
  background-color: #b37411;
  text-align: center;
  margin: 0;
  
}
nav ul li{
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  
}

nav ul li a{
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 1.2s;
  font-family: 'Poppins', sans-serif;
}

nav ul li a:hover{
  color: #050609;
  scale: 125%;
}

.container-site{
  display: flex;
  background-image: url('assets/wallpaper\ whisky.jpg');
  color: white;
  padding: 200px;
  margin: 0;
}


.suas-misturas{
  background-color: #b37411;
  padding: 8px ;
  background-color: #b37411; 
padding: 5px 10px;
display: inline-block;
border-radius: 2px;
}

.nav-bar{
display: flex;
justify-content: space-around;
}


.switch {
display: block;
--width-of-switch: 3.5em;
--height-of-switch: 2em;

--size-of-icon: 1.4em;

--slider-offset: 0.3em;
position: relative;
width: var(--width-of-switch);
height: var(--height-of-switch);
}


.switch input {
opacity: 0;
width: 0;
height: 0;
}


.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #f4f4f5;
transition: .4s;
border-radius: 30px;
}

.slider:before {
position: absolute;
content: "";
height: var(--size-of-icon,1.4em);
width: var(--size-of-icon,1.4em);
border-radius: 20px;
left: var(--slider-offset,0.3em);
top: 50%;
transform: translateY(-50%);
background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
;
transition: .3s;
}


input:checked + .slider {
background-color: #303136;
}

input:checked + .slider:before {
left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
background: #303136;

box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
